    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .content-container {
        min-height: 100vh;
        margin-left: 16rem; 
        padding: 20px;
        box-sizing: border-box; 
    }
